# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# QTcreator files
*.includes
*.files
*.creator.user
*.creator
*.config

# builds
*_build*

# External files, mostly downloaded
*env/sdk*
*env/nrf*
*env/toolchain*
